<app-title [name]="source"></app-title>
<div class="select-source">
  <form class="example-form">
    <mat-form-field>
      <mat-label>Select source</mat-label>
      <mat-select (selectionChange)="selectSource($event)">
        <mat-option value="technology">Technology</mat-option>
        <mat-option value="entertainment">Entertainment</mat-option>
        <mat-option value="general">General</mat-option>
        <mat-option value="health">Health</mat-option>
        <mat-option value="science">Science</mat-option>
        <mat-option value="sports">Sports</mat-option>
        <mat-option value="technology">Technology</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Filter">
    </mat-form-field>

    <button class="filter-button" mat-button>Filter</button>

    <mat-checkbox class="my-news">Only created by me.</mat-checkbox>

    <button class="add-article" mat-button (click)="addArticle()">Add Article</button>

  </form>
</div>
<div *ngFor="let news of arrOfNews" class="news" (click)="newsDetails()">
  <div>
    <img class="news-logo" src="{{news.urlToImage}}">
  </div>

  <div class="news-info">
    <div class="title">
      {{news.title}}
    </div>

    <div class="date-time">
      {{news.publishedAt | date:'short' }}
    </div>

    <div class="content">
      {{news.content}}
      <div>
        Read More...
      </div>
    </div>
  </div>


  <div class="menu-buttons">
    <div>
      <button class="edit-button" mat-button (click)="edit()">Edit</button>
    </div>
    <div>
      <button class="delete-button" mat-button>Delete</button>
    </div>
  </div>

</div>

<button *ngIf="arrOfNews.length != 0" class="load-more-button" (click)="loadMore()" mat-raised-button>Load More</button>
