.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center
}

.footer p {
  margin: 8px 0 4px
}

.footer p:last-child {
  margin: 4px 0 8px
}
