.select-source {
  margin: 0 0 0 10px;
  display: flex;
  justify-content: center;
}

.example-full-width {
  margin: 0 0 0 60px;
}

.filter-button {
  margin: 0 0 0 20px;
}

.my-news {
  margin: 0 20px;
}
