<div class="news-details">
    <div >
<!--      <img src="{{news.urlToImage}}" class="news-logo">-->
    </div>

    <div class="news-information">
      <div class="news-title">
<!--        {{news.title}}-->
      </div>

      <div class="news-content">
<!--        {{news.content}}-->
      </div>

      <div class="news-date-time">
<!--        {{news.publishedAt | date:'short'}}-->
      </div>

      <div class="news-author">
<!--        {{news.author}}-->
      </div>
    </div>


    <div class="menu-buttons">
      <div>
        <button class="edit-button" mat-button (click)="edit()">Edit</button>
      </div>
      <div>
        <button class="delete-button" mat-button>Delete</button>
      </div>
    </div>

</div>
