<div class="news-details">
    <div class="news-logo">

    </div>

    <div class="news-information">
      <div class="news-title">
        Some news title
      </div>

      <div class="news-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea enim error et ex fuga ipsa ipsum, itaque
        molestiae nam odit omnis, possimus, quae quidem rerum veritatis voluptas? Eum, molestias?
      </div>

      <div class="news-date-time">
        Date: 10/10/1010 Time: 10.10
      </div>

      <div class="news-author">
        Author
      </div>
    </div>


    <div class="menu-buttons">
      <div>
        <button class="edit-button" mat-button (click)="edit()">Edit</button>
      </div>
      <div>
        <button class="delete-button" mat-button>Delete</button>
      </div>
    </div>

</div>
