<div class="news" (click)="newsDetails()">
  <div class="news-logo">

  </div>

  <div class="news-info">
    <div class="title">
      Some news title
    </div>

    <div class="date-time">
      Date: 10/10/1010 Time: 10.10
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea enim error et ex fuga ipsa ipsum, itaque
      molestiae nam odit omnis, possimus, quae quidem rerum veritatis voluptas? Eum, molestias?
      <div>
        Read More...
      </div>
    </div>
  </div>


  <div class="menu-buttons">
    <div>
      <button class="edit-button" mat-button (click)="edit()">Edit</button>
    </div>
    <div>
      <button class="delete-button" mat-button>Delete</button>
    </div>
  </div>

</div>
