.news {
  height: 120px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  margin: 5px 0 10px 0;
}

.news-logo {
  margin: 20px;
  height: 80px;
  width: 80px;
  background: red;
}

.menu-buttons {
  padding: 20px;
}

.edit-button {
  width: 100%;
}

.news-info {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 20px 0 0 0;
  flex-wrap: wrap;
}

.content {
  overflow: hidden;
  white-space: nowrap;
  height: 40px;
  width: 70%;
  text-overflow: ellipsis;
}
